<div>
    <div class="header-style">
        <span>Random Password Generator</span>
    </div>
</div>
<div style="margin-top: 15px;">
    <div class="col-md-4 offset-md-4">
       <label>Choose Password Length [8-12]</label>
            <div class="input-group">
                <div class="form-group">
                    <input type="number" class="form-control col-md-3" required min="8" max="12"
                    [(ngModel)]="passwordLength" name="passwordLength" (input)="validateRange()">
                    <span class="text-danger" *ngIf="isValidRange">Min=8 , Max=12</span>
                </div>
            </div>
    </div>

    <div class="col-md-4 offset-md-4">
        <mat-checkbox class="example-margin" [color]="color" [(ngModel)]="isLowercase" name="isLowercase">
            Atleast one lowercase[a-z]</mat-checkbox>
    </div>

    <div class="col-md-4 offset-md-4">
        <mat-checkbox class="example-margin" [color]="color" [(ngModel)]="isUppercase" name="isUppercase">
            Atleast one UPPERCASE[A-Z]</mat-checkbox>
    </div>

    <div class="col-md-4 offset-md-4">
        <mat-checkbox class="example-margin" [color]="color" [(ngModel)]="isNumber" name="isNumber">
            Atleast one Numbers[0-9]</mat-checkbox>
    </div>

    <div class="col-md-4 offset-md-4">
        <mat-checkbox class="example-margin" [color]="color" [(ngModel)]="isSpecial" name="isSpecial">
            Atleast one Special Characters[!@..]</mat-checkbox>
    </div>
    
    <div class="offset-md-5" style="margin-top: 10px;">
        <button class="col-md-3 btn btn-outline-success" (click)="generateRandomPassword()"
                [disabled]="isValidRange">
            Generate Password
        </button>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="input-group  offset-md-4 col-md-3">
            <div class="form-group">
                <input type="text" class="form-control" [disabled]="true" [(ngModel)]="generatedPassword" name="generatedPassword">
                
            </div>
            
        </div>
        <!--
        <div class="col-md-1 col-sm-2">
                <button class="button-bg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px"
                    height="18px"><path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
                    </svg>
                 </button>
        </div>
        -->
    </div>
</div>