.header-style{
    background-color: black;
    text-align: center;
    height: 30px;
    color: white;
    font-size: 22px;
}
mat-slider {
    width: 300px;
  }
  .example-margin {
    margin: 0 12px;
   /* background-color: blue !important;*/
  }
  .input-group{
      display: block;
  }
.button-bg{
    background:white;
    border:none;
}